In [108]:
import pandas as pd

In [109]:
df = pd.read_csv('../data/noncompetition.csv', header=None)

In [110]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,29,30,31,32,33,34,35,36,37,38
0,BTX0158233,20.0,mM,DMSO,NaN,NaN,NaN,NaN,NaN,NaN,...,DMSO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,µM,1.0,2,3,4.0,5.0,6.0,7.0,8.0,9.0,...,3,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0
2,A,1.0,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,50.0,NaN,NaN
3,B,1.0,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C,5.0,75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,75.0,NaN,NaN

In [118]:
block_size = 13

cols = [df.iloc[:, i:i+block_size].reset_index(drop=True) for i in range(0, df.shape[1], block_size)]

for col in cols:
    col.columns = range(col.columns.size)

In [125]:
stacked_df = pd.concat(cols, axis=0, ignore_index=True)
stacked_df.head()
cleaned_df = stacked_df.dropna(how='all')
splits = [cleaned_df.iloc[i:i+10] for i in range(0, len(cleaned_df), 10)]

           0     1   2     3    4    5    6    7    8    9     10    11    12
0  BTX0158233  20.0  mM  DMSO  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
1          µM   1.0   2     3  4.0  5.0  6.0  7.0  8.0  9.0  10.0  11.0  12.0
2           A   1.0  50   NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
3           B   1.0  50   NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN
4           C   5.0  75   NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN   NaN   NaN

0
BTX0158233    1
20.0          1
mM            1
DMSO          1
Name: count, dtype: int64